<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some new website</title>
  </head>
  <body>
    <!-- <h1></h1> -->
    {{> header}}
    <p>There is some text here</p>

    <!-- <footer>
      <p>Copyright</p>
    </footer> -->

    {{> footer}}


  </body>
</html>
