<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some new website</title>
  </head>
  <body>
    <h1>WE will be right back! sorry for the inconvenience!</h1>
    <p>
      THe site is currently been updated!
    </p>

  </body>
</html>
